// PROCESS
// 0. CSS reset
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.

// 0. RESETS & FRAMEWORKS
@import "partials/reset";

* {
  box-sizing: border-box;
  font-style: Oswald;
}

// VARIABLES & MIXINS

// Mixins

// MEDIA QUERY RANGES
$medium: "only screen and (min-width: 600px)";
$large: "only screen and (min-width:900px)";

// GENERAL STYLES

body {
  background-image: url("../assets/bg.jpg");
  background-color: rgb(175, 65, 43);

}
.header {
  font-family: 'Oswald', sans-serif;
  background-size: contain;
  // background-image: url("../assets/header_bg.svg");
  // background-position: center center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
  position: relative;
}

.logo {
  background-image: url("../assets/logo.svg");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  height: 50px;
  width: 120;
  // display:inline-block;
}

.plus {
  position:absolute;
  top:10px;
  right:10px;
  background-color: #FFFFFF;
  border: 2px groove orange;
  height: 30px;
  width: 30px;

  p {
    font-family: Lato;
    line-height:25px;
    text-align: center;
    font-size: 35px;
    color: rgb(179, 0, 0 );
  }
}

.plus:hover {
  background-color:red;
}

.navigation {
  background-color: rgb(58, 58, 60);
  height: 40px;

  .buttons {
    text-transform: uppercase;
    line-height: 40px;
    display:inline-block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    width: 33.33333%;
    height: 100%;

    p {
      color: rgb(125,126,129);
      border-right: 2px groove rgb(125,126,129);
    }
  }
}

.block {
  margin: auto;
  background-color: #444;
  width: 455px;
  height:100%;
  // display: inline-block;
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;

  .post {
    max-width: 100%;
    background-color: #FFF;
    margin-top: 10px;
    padding: 20px;
    padding-top: 25px;
    height: 475px;
    flex: 0 0 100%;

    img {
      max-width: 100%;
    }

    &.post-title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(44, 44,  46);
    }

    &.post-meta {
      font-family: 'Oswald', sans-serif;
    }

    &.post-blurb {
      font-family: 'Oswald', sans-serif;
    }

  }
}

