extends ./../layout

block content
  form(name="edit-products", method="POST", action="/products/#{product.id}")
    input(type="hidden", name="_method", value="PUT")
    div.name Name:&nbsp
      input(type="text", name="product_name", value="#{product.product_name}")
    div.price Price:&nbsp
      input(type="text", name="price", value="#{product.price}")
    div.inventory Inventory:&nbsp
      input(type="text", name="inventory" value="#{product.inventory}")
    div.submit
      input(type="submit", value="submit")
