extends ./../layout

block content
  form(name="edit-products", method="POST", action="/products/#{item.id}")
    input(type="hidden", name="_method", value="PUT")
    div.name Name:&nbsp
      input(type="text", name="name", value="#{item.name}")
    div.price Price:&nbsp
      input(type="text", name="price", value="#{item.price}")
    div.inventory Inventory:&nbsp
      input(type="text", name="inventory" value="#{item.inventory}")
    div.submit
      input(type="submit", value="submit")
