extends ./../layout

block content
  form(name="edit-products", method="POST", action="/products/")
    input(type="hidden", name="_method", placeholder="POST")
    div.name Name:&nbsp
      input(type="text", name="name", placeholder="name of product" autofocus)
    div.price Price:&nbsp
      input(type="text", name="price", placeholder="price of product")
    div.inventory Inventory:&nbsp
      input(type="text", name="inventory", placeholder="inventory number")
    div.submit
      input(type="submit", value="submit")
