extends ./../layout

block content
  h1 #{data.id}: #{data.product_name}
  p Inventory: ##{data.inventory}
  p Price: #{data.price}
  h2
    form(type="submit", action="/products/")
      button(type="submit", value="submit") Product List
