doctype html
html(lang="en")
head
  meta(charset="UTF-8")
<<<<<<< HEAD
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Express Gallery
  link(rel="stylesheet", href="./../css/styles.css")
body
  .main
    h1 _Woofitekt
    div.nav
      p
        if isAuthenticated
          a.button(href="/gallery/new") New Post
          a.button(href="/logout") Logout
        else
          a.button(href="/users") Sign Up
          a.button(href="/login") Login
    block content
=======
  title AP&E Project
body
  h1 I am layout
  block content
>>>>>>> c3ee485098b12b13153fee1593c700807fe2fea5
